div.welcome-section(class="full-section")

    div.social-media

        a.facebook(href="#{content.socialUrls.facebook}" 
                class="icon ion-social-facebook-outline")

        a.twitter(href="#{content.socialUrls.twitter}" 
                class="icon ion-social-twitter-outline")

    div.welcome-logo
        h1(class="wow fadeInUp") CUTC
            sup 15

    div.welcome-info(class="wow fadeInUp")
        span.theme EVOLE
        span.date #{content.dates}