div.welcome-section(class="full-section" data-scroll-index="0")

    div.social-media

        a.facebook(href="#{content.socialUrls.facebook}"
                class="icon ion-social-facebook-outline")

        a.twitter(href="#{content.socialUrls.twitter}"
                class="icon ion-social-twitter-outline")

    div.welcome-logo
        img(src="img/logo.png", alt="")

    div.welcome-info(class="wow fadeInUp")
        span.theme EVOLVE
        span.date #{content.dates}